.manga_root {
  position: relative;
  overflow: hidden;
  .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // gap: 2rem;
    row-gap: 1rem;
    margin-top: 1vh;
    // margin: 2vh 2vw;

    .card_wrap {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 14vw;
      height: 55vh;
      margin: 0;
      padding: 2vh 1vw 0 1vw;
      border-radius: 10px;
      border: 3px solid transparent;
      cursor: pointer;

      // gap: 1rem;
      .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 85%;
        border-radius: 10px;
      }

      .title {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
      }

      .type {
        text-align: center;
        width: 100%;
        font-weight: 600;
      }
    }
  }

  .loader {
    height: 60vh;
    position: absolute;
    bottom: 130vh;
  }

  .c_spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }
}

@media (max-width: 600px) {
  .manga_root {
    .cards {
      row-gap: 1rem;
      .card_wrap {
        width: 44vw;
        height: 40vh;
      }
    }
  }
}