.root_timer {
  padding: 2vh 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  --neon: hsla(191, 100%, 50%);

  .header {
    font-size: 1.5rem;
    display: inline-block;
    width: max-content;
    height: fit-content;
    text-align: center;
    margin-right: 2vw;
    padding: 1.8vh 1.5vw;
    text-shadow: var(--neon) 0.1em 0 0.1em;
    border: 0.15em solid var(--neon);
    border-radius: 10px;
    box-shadow: inset 0 0 0.6em 0 var(--neon), 0 0 0.6em 0 var(--neon);
    z-index: 1;
    // animation: box-shad 1.25s ease-in-out 0s infinite both;
  }

  // .header::after{
  //   content: '';
  //   position: absolute;
  //   background-color: var(--neon);
  //   top: 130%;
  //   left: 0;
  //   width: 100%;
  //   height: 20%;

  //   transform: perspective(1em) rotateX(40deg);
  //   filter: drop-shadow(16px 16px 20px red);
  // }
  .timer {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-weight: 600;

    >span {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 1.25vw;
      border-radius: 10px;
      margin: 2vh 2vw;
      text-shadow: var(--neon) 1px 0 05px;
      // padding: 1.8vh 1.5vw;
      // text-shadow: var(--neon) 0.1em 0 0.1em;
      // border: 0.15em solid var(--neon);
      // border-radius: 0.45em;
      // box-shadow: inset 0 0 0.7em 0 var(--neon),
      //   0 0 0.7em 0 var(--neon);
      // z-index: 1;
    }
  }
}

@keyframes box-shad {
  0% {
    box-shadow: inset 0 0 0.6rem 0 var(--neon), 0 0 0.6rem 0 var(--neon);
  }

  100% {
    box-shadow: inset 0 0 0.1rem 0 var(--neon), 0 0 0.1rem 0 var(--neon);
  }
}

@media (max-width: 600px){
  .root_timer{
    .header{
      font-size: 1.25rem;
      width: 150px;
      position: relative;
    }
    .timer{
      // font-size: 1.25rem;
      margin-top: 5vw;
    }
  }
}