.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  // gap: 2rem;
  row-gap: 2rem;
  margin: 2vh 2vw;
  .card_wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 18vw;
    height: 60vh;
    // gap: 1rem;
    .image{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 80%;
      border-radius: 10px;
    }
  }
}