.manga_banner {
  min-height: 50vh;
  max-height: 60vh;
  // width:;
  -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(94, 92, 92, 0.152));
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover !important;
}
.error{
  background-image: url(../../assets/manga_404.png);
  background-repeat: no-repeat;
  background-size: cover;
  // max-height: 100vh;
  min-height: 120vh;
  margin-bottom: -10vh;
  top: -10vh;
  position: absolute;
  width: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.45rem;
  align-items: center;
  justify-content: flex-start;
  margin: 2vh 0 2vh 2vw;

  &_item {
    font-weight: 600;
    cursor: pointer;

    a::after {
      content: '';
      // width: 100%;
      height: 2px;
      border-radius: 5px;
      background-color: #00a6ff;
      position: absolute;
      // bottom: 0;
      top: 120%;
      left: 50%;
      right: 50%;
      transition: all 0.25s ease-in-out;
    }

    a:hover::after {
      // width: 100%;
      right: 0%;
      left: 0%;
    }

    a {
      text-decoration: none;
      color: white;
      position: relative;

      &.active::after {
        right: 0%;
        left: 0%;
      }
    }
  }
}

//About Manga Tab

.about_manga_container {
  margin-top: 4vh;
  margin-left: 2vw;

  .info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    margin-bottom: 6vh;

    .cover {
      min-height: 50vh;
      min-width: 15vw;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;
    }

    .detail {
      max-width: 70vw;
      // margin-left: 2vw;
    }
  }

  .title {
    font-size: 2rem;
    font-weight: 700;
    color: rgb(10, 244, 166);
    margin-bottom: 3vh;
    line-height: 2.5rem;
  }

  .description {
    margin-top: 2vh;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 4vw;
  }

  .genres {
    margin: 2vh 0;

    div {
      margin: 0 0.75vw;
    }

    div:nth-child(1) {
      margin-left: 0;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7rem;

    .rating,
    .popularity {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 1rem;
      font-weight: 600;

      >span {
        padding-right: 1vw;

        svg,
        span {
          display: flex;
        }
      }

      .MuiRating-icon {
        color: rgb(231, 183, 13);
      }
    }
  }

  .status {
    font-weight: 800;
    font-size: 1.25rem;
  }

  .characters {
    margin-left: -2vw;

    .slider_title {
      margin-left: 0;
    }
  }
}

//Reader
.reader_container {
  display: flex;
  flex-direction: row;
  // justify-content: space-evenly;
  // align-items: center;
  margin-left: 2vw;
  gap: 2rem;
  // width: 100%;
  .chapters {
    max-height: 100vh;
    width: 20%;
    margin-top: 3rem;
    .left-top-panel{
      display: flex;
      flex-direction: row;
    }
    .ch_header {
      font-size: 1.5rem;
      width: 100%;
      position: sticky;
      top: 0;
      font-weight: 800;
      margin-bottom: 3vh;
    }

    .container {
      max-height: inherit;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;
      scroll-behavior: smooth;
      .ch_btn {
        margin-bottom: 1rem;
        min-height: 6vh;
        padding: 0.75rem;
        cursor: pointer;
        border: 2px solid rgb(11, 159, 151);
        border-radius: 15px;
        margin-right: 1rem;
        .title {
          font-size: 1rem;
          font-weight: 600;
          margin-left: 0.5rem;
        }

        .date {
          font-size: 0.85rem;
          font-weight: 400;
          margin-left: 0.5rem;
        }
      }
    }
    .container>*{
      scroll-snap-align: start;
    }
    .container::-webkit-scrollbar {
      background-color: rgba(0, 0, 0, 0) !important;
      width: 0.5vw !important;
      height: 0.5vw !important;
    }

    .container::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0) !important;
    }

    .container::-webkit-scrollbar-thumb {
      background-color: #717373c2 !important;
      border-radius: 16px !important;
      // border: 4px solid rgba(255, 255, 255, 0)
    }
  }

  .viewer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    margin-top: 3rem;
    width: 76%;
    height: max-content;
    overflow: auto;
    // position: relative;
    .page{
      // min-height: 100vh;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .left-btn, .right-btn{
      position: absolute;
      // background-color: red;
      height: 115%;
      width: 25%;
    }
    .right-btn{
      right: 0;
    }
  }
}