@use '../../variables';
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 2.4vw;
  background-color: variables.$background_main;
  top: 0;
  height: 4vw;
  font-weight: 700;
  position: sticky;
  z-index: 10;
  width: 100%;
  
  &_logo,
  &_nav {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2vw;
    font-family: 'Rubik Vinyl', cursive;
  }

  &_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.5vw;

    &-links {
      // margin-left: 10vw;
      cursor: pointer;
      width: 10vw;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .searchbar {
    margin-right: 2vw;
    // text-align: center;
    display: flex;
    align-items: center;
  }
}
.link{
  text-decoration: none;
  color: white;
}

@media (max-width: 600px){
  .header {
      font-size: 5.2vw;
      top: 0;
      height: 14vw;
      font-weight: 700;
  
      &_logo,
      &_nav {
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 2vw;
      }
  
      &_nav {
        font-weight: 500;
        font-size: 3.25vw;
  
        &-links {
          width: 15vw;
          font-weight: 800;
        }
      }
  
      .searchbar {
        margin-right: 2vw;
        svg{
          font-size: 1.3rem;
        }
      }
    }
}