@use '../../variables';
.header {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 4.8vh;
  background-color: variables.$background_main;
  top: 0;
  height: 8vh;
  font-weight: 700;
  position: sticky;
  z-index: 10;

  &_logo,
  &_nav {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    font-family: 'Rubik Vinyl', cursive;
    // color: rgb(255, 0, 47);
  }

  &_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 3vh;

    &-links {
      margin-left: 10vw;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-weight: 800;
    }
  }
}
.link{
  text-decoration: none;
  color: white;
}