.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.Outlet{
  min-height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  padding-bottom: 10vh;
  overflow-x: hidden;
}

@media (max-width: 600px){
  .Outlet{
    min-height: 60vh;
    width: 100vw;
    max-width: 100%
  }
}