@use 'variables';

body {
  margin: 0;
  top: 0;
}
:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  top: 0;
  bottom: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: variables.$background_main;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background_main: #0e0e0e;
  --purple_tint: #363c48;
  --black_grey: #171d21;
  --secondary: #8E05C2;
  --tertiary: #700B97;
  --spring_o: #FF5D5D;
  --spring_g: #B6FFCE;
  --spring_b: #BFFFF0;
  --accent: #09bbb2;
  --yellow: #eedf07;
  --blue: #0ab8f1;
  --black: #000000
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }

//   a:hover {
//     color: #747bff;
//   }

//   button {
//     background-color: #f9f9f9;
//   }
// }

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0) !important;
  width: 0.4vw !important;
  height: 0.4vw !important;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0) !important;
}

::-webkit-scrollbar-thumb {
  background-color: #737171c2 !important;
  border-radius: 16px !important;
  // border: 4px solid rgba(255, 255, 255, 0)
}