@use '../../variables.scss';

.player_root {
  max-width: 100vw;
  min-height: 90vh;
  position: relative;
  padding-bottom: 10vh;

  .details {
    max-width: 100vw;
    min-height: 72vh;

    .cover-image {
      min-width: 100%;
      height: 70vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // opacity: 0.19;
      // background-color: rgba(0,0,0,0.1);
      position: absolute;
      cursor: default;

      .details_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.71);
        height: 70vh;
        backdrop-filter: blur(3px);

        .banner {
          &_image {
            width: 30%;
            min-height: 50vh;
            min-width: 20vw;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        .about {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          text-shadow: 1px 1px black;

          .title {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 2.4rem;
            font-weight: 900;
            margin-bottom: 4vh;
            line-height: 6vh;
          }

          .anime_info {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 1.15rem;
            font-weight: 600;
            margin-bottom: 1vh;

            div {
              margin-right: 2vw;
              // justify-content: center;
              display: flex;
              // justify-content: center;
            }
          }
        }

        .genres {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          // width: 100%;
          margin-top: 2vh;

          .MuiChip-root {
            margin-right: 1vw;
            background-color: #22a426 !important;
            font-size: 1rem;
            padding: 0.2vh 0.2vw;
          }
        }

        .description {
          -webkit-line-clamp: 6;
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
        }

        .studio {
          font-size: 1.35rem;
          font-weight: 600;
          margin-top: 2vh;
          border: 2px solid rgb(32, 224, 220);
          border-radius: 2px;
          padding: 1vh 0.6vw;
        }
      }
    }
  }

  .episodes {
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;

    .title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 2vh;
      display: flex;
      // justify-content: center;
      align-items: center;
      justify-content: space-between;

      span {
        display: flex;
        align-items: center;
      }

      .MuiSvgIcon-root {
        font-size: 2rem;
      }

      .MuiFormControl-root {
        &.MuiTextField-root {
          label {
            color: white;
          }

          input {
            color: white;
          }
        }
      }
    }

    // scroll-snap-align: start;
    .ep-list {
      min-width: 20vw;
      max-height: 50vh;
      display: flex;
      flex-direction: row;
      overflow: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      .ep_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 1vh 0.5vw 2vh;
        position: relative;

        .ep_image {
          width: 28vw;
          max-height: 35vh;
          border-radius: 10px;
          background-position: center;
          background-size: cover;
          display: flex;
          cursor: pointer;
          // flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .play {
          width: 28vw;
          height: 35vh;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.5s ease-in-out;
          border-radius: 10px;
          position: absolute;
          cursor: pointer;
        }

        .play:hover {
          backdrop-filter: saturate(0.9) brightness(0.85) blur(1px);
        }

        // transition: all 0.4s;
        .MuiSvgIcon-root {
          font-size: 4rem;
          border-radius: 50%;
          // background-color: #1c201d94;
          // color: rgba(0, 0, 0, 0.508);
          background-color: #161616d9;
          color: white;
          transition: all 0.2s ease-in-out;
        }

        .ep_no {
          margin-top: 1vh;
        }

        .ep_name {
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: center;
          cursor: default;
          max-width: 28vw;
        }
      }
    }

    .ep-list>* {
      scroll-snap-align: start;
    }
  }

  .related_type {
    text-align: center;
    font-weight: 600;
    margin-top: 1vh;
  }

  .recommended_slider,
  .related_slider,
  .character_slider {
    margin-top: 4vh;

    .slider_title {
      display: flex;
      align-items: center;

      .MuiSvgIcon-root {
        font-size: 2rem;
        margin-right: 1vw;
      }

      .scroll-btn {
        width: 100%;
        float: right;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }

  .character_slider {
    .slider_container {
      .card_image {
        cursor: default !important;
        border-radius: 50%;
      }
    }
  }
}

.modal_root {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--black);
  left: 18%;
  right: 18%;
  position: absolute;
  top: 3%;
  bottom: 3%;
  height: fit-content;
  max-height: 90vh;
  min-height: 60vh;
  padding: 0.5vw;
  border-radius: 10px;

  .episodeTitle {
    display: none;
  }

  .player-ep {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0.5vh 0.9vh;
    margin-right: 2vw;

    .eplist {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      gap: 1.4rem;
      align-items: center;
      margin: 2vh 0;

      .watched {
        background-color: #09bbb230;
      }

      .currentEp {
        position: relative;
      }

      .currentEp::before {
        content: '';
        top: 5%;
        left: 5%;
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: rgba(0, 255, 132, 0.596);
      }

      .ep_no {
        min-height: 1vh;
        min-width: 2vw;
        max-width: fit-content;
        padding: 1vh 1vh;
        text-align: center;
        // margin: 1vh 0.5vw;
        border: 2px solid var(--accent);
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

.modal_root:hover {
  .episodeTitle {
    position: absolute;
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;
    padding-bottom: 10vh;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    font-weight: 600;
    opacity: 0.95;
    height: 100%;
    background: linear-gradient(185deg, black, transparent);
  }
}

.modal_root:focus-visible {
  outline: none;
}

.play:hover {
  .MuiSvgIcon-root {
    transform: scale(1.1);
    // transition: all 0.2s 0.4s;
    // background-color: #161616d9;
    color: white;
  }
}

.play-icon {
  .MuiSvgIcon-root {
    font-size: 4rem;
    border-radius: 50%;
    // background-color: #1c201d94;
    // color: rgba(0, 0, 0, 0.508);
    background-color: #161616d9;
    color: white;
  }
}

.hidden {
  display: none;
}

/* SPINNER STYLES */

.spinner {
  fill: white;
  position: absolute;
  top: 44%;
  left: 47%;
  z-index: 9999;
  width: 60px;
  height: 60px;
}

.spinner>.path {
  transform-origin: center;
  animation: spin 0.75s infinite linear;
}

.MuiInputBase-root {
  &.MuiInput-root {
    border-bottom: white !important;

    svg {
      color: white;
    }
  }

  &.MuiInput-root::before,
  &.MuiInput-root::after {
    border-bottom: 2px solid white !important;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .player_root {
    .details {
      max-width: 100vw;
      min-height: 45vh;

      .cover-image {
        height: 45vh;
        width: 100vw;

        .details_container {
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          height: 45vh;
          padding: 0 1.5vw;

          .banner {
            &_image {
              display: none;
            }
          }

          .about {
            width: 100%;
            flex-wrap: wrap;

            .title {
              flex-wrap: wrap;
              font-size: 1.25rem;
              font-weight: 600;
              margin-bottom: 2vh;
              line-height: 3.5vh;
              justify-content: center;
              align-items: center;
              text-align: center;
              display: flex;
              width: 100%;
            }

            .anime_info {
              flex-wrap: wrap;
              column-gap: 1rem;
              row-gap: 0.25rem;
              font-size: 0.85rem;
              font-weight: 500;
              margin-bottom: 2vh;
              justify-content: center;
            }
          }

          .genres {
            flex-wrap: wrap;
            margin-top: 2vh;
            width: 100%;
            justify-content: center;

            div {
              margin-bottom: 2vh;
            }

            .MuiChip-root {
              margin-right: 1vw;
              background-color: #259763 !important;
              font-size: 1rem;
              padding: 2vh 0.5vw;
            }
          }

          .description {
            -webkit-line-clamp: 6;
            font-size: 0.85rem;
            text-align: center;
            width: 100%;
          }
        }
      }
    }

    .episodes {
      .title {
        font-size: 1.25rem;

        .text_field {
          width: 80px;
          font-size: 0.75rem;
          height: 60px;
        }

        .MuiSvgIcon-root {
          font-size: 1.5rem;
        }
      }

      .ep-list {
        max-height: 30vh;
        display: flex;
        flex-direction: row;
        overflow: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;

        .ep_card {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
          margin: 1vh 1vw 2vh;

          .ep_image {
            width: 60vw;
            max-height: 16vh;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            .MuiSvgIcon-root {
              font-size: 3rem;
            }
          }

          .play {
            height: 16vh;
          }

          .ep_no {
            font-size: 0.85rem;
          }

          .ep_name {
            font-size: 0.75rem;
            width: 100%;
            max-width: 40vw;
          }
        }
      }

      .ep-list>* {
        scroll-snap-align: start;
      }
    }

    .recommended_slider,
    .related_slider,
    .character_slider {
      .slider_title {
        .MuiSvgIcon-root {
          font-size: 1.5rem;
        }
      }
    }

    .character_slider {
      .slider_container {

        // height: 10vh;
        .card_image {
          cursor: default !important;
          border-radius: 10%;
        }
      }
    }
  }

  .modal_root {
    left: 1%;
    right: 1%;
    top: 40%;
    bottom: 30%;
    min-height: 45vh;
    max-height: 45vh;

    // .thumbnail{
    //   width: 100%;
    //   height: 100%;
    // }
    .eplist {
      .ep_no {
        min-width: 5vw !important;
      }
    }
  }
}

#watchPage {
  .MuiBackdrop-root {
    backdrop-filter: blur(10px);
  }
}