@use '../../variables.scss';

.player_root {
  max-width: 100vw;
  min-height: 90vh;
  position: relative;

  .details {
    max-width: 100vw;
    min-height: 72vh;

    .cover-image {
      min-width: 100%;
      height: 70vh;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // opacity: 0.19;
      // background-color: rgba(0,0,0,0.1);
      position: absolute;
      cursor: default;

      .details_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.71);
        height: 70vh;

        .banner {
          &_image {
            width: 30%;
            min-height: 50vh;
            min-width: 20vw;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }

        .about {
          width: 70%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          text-shadow: 1px 1px black;

          .title {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 2.4rem;
            font-weight: 900;
            margin-bottom: 4vh;
            line-height: 6vh;
          }

          .anime_info {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            font-size: 1.15rem;
            font-weight: 600;
            margin-bottom: 1vh;

            div {
              margin-right: 2vw;
              // justify-content: center;
              display: flex;
              // justify-content: center;
            }
          }
        }

        .genres {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          justify-content: flex-start;
          // width: 100%;
          margin-top: 2vh;

          .MuiChip-root {
            margin-right: 1vw;
            background-color: #22a426 !important;
            font-size: 1rem;
            padding: 0.2vh 0.2vw;
          }
        }

        .description {
          -webkit-line-clamp: 6;
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
        }

        .studio {
          font-size: 1.35rem;
          font-weight: 600;
          margin-top: 2vh;
          border: 2px solid rgb(32, 224, 220);
          border-radius: 2px;
          padding: 1vh 0.6vw;
        }
      }

      // .details_container{
      //   display: grid;
      //   grid-template-rows: 15vh 40vh 15vh;
      //   grid-template-columns: 0.25fr 2fr 4fr 0.25fr;
      //   opacity: 1;
      //   background-color: rgba(0, 0, 0, 0.71);
      //   // gap: 1rem;
      //   // height: 70vh;
      //   .banner{
      //     grid-area: 2/2/3/3;
      //     // background-color: aqua;
      //     justify-self: start;
      //     &_image{
      //       min-height: 40vh;
      //       min-width: 20vw;
      //       background-position: center;
      //       background-repeat: no-repeat;
      //       background-size: contain;
      //       border-radius: 10px;
      //     }
      //   }
      //   .about{
      //     grid-area: 2/3/3/4;
      //     // background-color: yellow;
      //   }
      // }
    }
  }

  .episodes {
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    .title {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 2vh;
      display: flex;
      // justify-content: center;
      align-items: center;
      .MuiSvgIcon-root {
          font-size: 2rem;
      }
    }
    // scroll-snap-align: start;
    .ep-list {
      min-width: 20vw;
      max-height: 50vh;
      display: flex;
      flex-direction: row;
      overflow: auto;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      .ep_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 1vh 0.5vw 2vh;

        .ep_image {
          width: 28vw;
          height: 35vh;
          border-radius: 10px;
          background-position: center;
          background-size: cover;
          display: flex;
          cursor: pointer;
          // flex-direction: column;
          justify-content: center;
          align-items: center;

          // transition: all 0.4s;
          .MuiSvgIcon-root {
            font-size: 4rem;
            border-radius: 50%;
            // background-color: #1c201d94;
            // color: rgba(0, 0, 0, 0.508);
            background-color: #161616d9;
            color: white;
            transition: all 0.2s 0.2s;
          }
        }

        .ep_name {
          line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: center;
          cursor: default;
        }
      }
    }
    .ep-list>* {
      scroll-snap-align: start;
    }
  }
  .related_type{
    text-align: center;
    font-weight: 600;
    margin-top: 1vh;
  }
  .recommended_slider, .related_slider, .character_slider{
    margin-top: 4vh;
    .slider_title{
      display: flex;
      align-items: center;
      .MuiSvgIcon-root{
        font-size: 2rem;
        margin-right: 1vw;
      }
      .scroll-btn{
        width: 100%;
        float: right;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }
  .character_slider{
    .slider_container{
      .card_image{
        cursor: default !important;
        border-radius: 50%;
      }
    }
  }
}

.modal_root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  background-color: variables.$black_grey;
  left: 18%;
  right: 18%;
  position: absolute;
  top: 10%;
  bottom: 10%;
  // .thumbnail{
  //   width: 100%;
  //   height: 100%;
  // }
}

.modal_root:focus-visible{
  outline: none;
}

.ep-list::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0) !important;
  width: 0.5vw !important;
  height: 0.5vw !important;
}

.ep-list::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0) !important;
}

.ep-list::-webkit-scrollbar-thumb {
  background-color: #737171c2 !important;
  border-radius: 16px !important;
  // border: 4px solid rgba(255, 255, 255, 0)
}

.ep_image:hover {
  .MuiSvgIcon-root {
    transform: scale(1.1);
    // transition: all 0.2s 0.4s;
    // background-color: #161616d9;
    color: white;
  }
}

.play-icon{
  .MuiSvgIcon-root {
      font-size: 4rem;
      border-radius: 50%;
      // background-color: #1c201d94;
      // color: rgba(0, 0, 0, 0.508);
      background-color: #161616d9;
      color: white;
    }
}

.hidden {
  display: none;
}

/* SPINNER STYLES */

.spinner {
  fill: white;
  position: absolute;
  top: 44%;
  left: 47%;
  z-index: 9999;
  width: 60px;
  height: 60px;
}

.spinner>.path {
  transform-origin: center;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px){
  .player_root {
      .details {
        max-width: 100vw;
        min-height: 50vh;
  
        .cover-image {
          height: 50vh;
          width: 100vw;
          .details_container {
            flex-wrap: wrap;
            align-items: flex-start;
            height: 50vh;
            padding: 3vw;
            .banner {
              &_image {
                display: none;
              }
            }
  
            .about {
              width: 100%;
              flex-wrap: wrap;

              .title {
                flex-wrap: wrap;
                font-size: 1.25rem;
                font-weight: 600;
                margin-bottom: 2vh;
              }
  
              .anime_info {
                flex-wrap: wrap;
                gap: 1rem;
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 2vh;
              }
            }
            .genres {
              flex-wrap: wrap;
              margin-top: 2vh;
              div{
                margin-bottom: 2vh;
              }
              .MuiChip-root {
                margin-right: 1vw;
                background-color: #259763 !important;
                font-size: 1rem;
                padding: 2vh 0.5vw;
              }
            }
            .description {
              -webkit-line-clamp: 5;
            }
          }
        }
      }
  
      .episodes {
        .title{
          font-size: 1.25rem;
          .MuiSvgIcon-root {
              font-size: 1.5rem;
            }
        }
        .ep-list {
          max-height: 35vh;
          display: flex;
          flex-direction: row;
          overflow: auto;
          scroll-snap-type: x mandatory;
          scroll-behavior: smooth;
  
          .ep_card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            margin: 1vh 0.5vw 2vh;
  
            .ep_image {
              width: 60vw;
              height: 20vh;
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
  
              .MuiSvgIcon-root {
                font-size: 3rem;
              }
            }
          }
        }
        .ep-list>* {
          scroll-snap-align: start;
        }
      }
  
      .recommended_slider,
      .related_slider,
      .character_slider {
        .slider_title {
          .MuiSvgIcon-root {
            font-size: 1.5rem;
          }
        }
      }
  
      .character_slider {
        .slider_container {
          // height: 10vh;
          .card_image {
            cursor: default !important;
            border-radius: 10%;
          }
        }
      }
    }
}